<div id="main-container" class="container">

<div class="row">
      <div class="col-xs-6">

  <h2><%= @blogpost.title %></h2>
  <h3>by <%= @blogpost.author %></h3>
  <%= @blogpost.content %>
</div>
</div>
<br>
<div class="col-xs-3">
<div class="btn-group">
<%= link_to blogposts_path, class: 'btn btn-primary' do %>
 <i class="glyphicon glyphicon-menu-left"></i> Back
<% end  %>

<%= link_to edit_blogpost_path(@blogpost), class: 'btn btn-success' do %>
 <i class="glyphicon glyphicon-pencil"></i> Edit
<% end  %>

<%= link_to 'delete', method: :delete, class: 'btn btn-danger' do %>
 <i class="glyphicon glyphicon-remove"></i> Delete


<% end  %>
</div>
</div>
</div>

