

<div class="container"> 
<div class="col-xs-8">
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Post feed', blog_post_index_path %></li>
  <li><%= link_to 'Create post', new_blog_post_path %></li>
</ul>
 <h1>Welcome to our blog!</h1>
  <% @blog_posts.each do |blog_post| %>
  <h2><%= link_to blog_post.title, blog_post %></h2>
  <h3>by <%= blog_post.author %></h3>
  <%= blog_post.content %>
  <% end %>
</div>
<div class="col-xs-3">


 </div>
 </div>